@charset "UTF-8";

body .wp-block[data-align="full"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  body .wp-block[data-align="full"] {
    width: calc( 100% + 90px);
    max-width: calc( 100% + 90px);
  }
}

@media only screen and (min-width: 768px) {
  body .editor-writing-flow {
    max-width: 80%;
    margin: 0 10%;
  }
  body .editor-post-title__block,
  body .editor-default-block-appender,
  body .editor-block-list__block {
    margin-left: 0;
    margin-right: 0;
  }
  body .wp-block[data-align="wide"] {
    width: 100%;
  }
  body .wp-block[data-align="full"] {
    position: relative;
    left: calc( -12.5% - 14px);
    width: calc( 125% + 116px);
    max-width: calc( 125% + 115px);
  }
  body .wp-block[data-align="right"] {
    max-width: 125%;
  }
}

/** === Editor Block Toolbar Position === */
.editor-block-list__block[data-align="wide"] .editor-block-contextual-toolbar .editor-block-toolbar.editor-block-toolbar,
.editor-block-list__block[data-align="full"] .editor-block-contextual-toolbar .editor-block-toolbar.editor-block-toolbar {
  max-width: none;
}

/** === Content Width === */
.wp-block {
  width: calc(100vw - (2 * 1rem));
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .wp-block {
    width: calc(8 * (100vw / 12));
  }
}

@media only screen and (min-width: 1168px) {
  .wp-block {
    width: calc(6 * (100vw / 12 ));
  }
}

.wp-block .wp-block {
  width: 100%;
}
